<html layout:decorate="~{layout}">
<head>
  <title>LOGIN</title>
</head>
<div layout:fragment="content" class="h-screen" style="background:#F6F1EE;">
  <div class="w-full h-full">
    <div class="w-full h-24"></div>
    <div class="w-96 mx-auto py-8 rounded-3xl text-center" style="background:#6C5F5B;">
      <div class="text-xl font-bold pb-5 border-b text-white mx-auto">LOGIN</div>

      <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}">
          <div class="my-5 w-11/12 mx-auto px-5 text-red-800 bg-red-100 rounded-xl">
            사용자ID 또는 비밀번호를 확인해 주세요.
          </div>
        </div>

        <div class="mt-5 mx-auto flex w-4/5">
          <label for="username" class="text-white w-36">사용자ID</label>
          <input type="text" name="username" id="username" class="w-full rounded-full px-5">
        </div>
        <div class="mt-5 mx-auto flex w-4/5">
          <label for="password" class="text-white w-36">비밀번호</label>
          <input type="password" name="password" id="password" class="w-full rounded-full px-5">
        </div>

        <button type="submit" class="mt-5 btn text-white">로그인</button>
      </form>

    </div>
  </div>
</div>
</html>