<div th:fragment="navbarFragment" class="navbar bg-base-100 fixed">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="/">JSERIN</a>
    </div>
    <div class="flex-none gap-2">

        <div class="input input-bordered w-28 md:w-auto">
            <input type="text" id="search_kw" placeholder="Search" th:value="${kw}"/>
            <button class="h-full" type="button" id="btn_search">
                찾기
            </button>
        </div>

        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full" style="background:#6C5F5B;">
                </div>
            </label>
            <ul tabindex="0" class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52">
                <li>
                    <a class="justify-between">
                        PROFILE
                        <span class="badge">NEW</span>
                    </a>
                </li>
                <li><a>SETTINGS</a></li>
                <li>
                    <a th:href="@{/user/signup}">SIGNUP</a>
                </li>
                <li>
                    <a th:href="@{/user/login}" sec:authorize="isAnonymous()">LOGIN</a>
                    <a th:href="@{/user/logout}" sec:authorize="isAuthenticated()">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</div>